# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title:            'James Hibbard'
tagline:          'Web Developer'
description:      'Web developer, network admin and author'
baseurl:          '' # the optional subpath of your site, e.g. /blog
url:              https://hibbard.eu
analytics: true
comments: true
disqus:
  shortname: james-hibbard

author:
  name:           'James Hibbard'
  url:            https://twitter.com/jchibbard

paginate:         10
# paginate_path:    '/page:num', or '/blog/page:num' if you want to move your index pages

# Build settings
markdown:         kramdown
highlighter:      rouge
theme:            jekyll-theme-hydeout

# Custom vars
sidebar_home_link:  true
# sidebar_blog_link:  '/blog'   # By default, your home page is your blog
                                # page. If you change your paginate_path,
                                # set this to the root of the paginate_path
                                # to enable a separate blog link.
github:
  repo:           https://github.com/jameshibbard/blog

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
