figure{
  margin: 0;

  figcaption {
    font-size: smaller;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
  }
}

// Hide image in excerpt
.index figure {
  display: none;
}

// Hide terminal screenshots for anything but desktop
@media (max-width: 1210px) {
  img.terminal {
    display: none;
  }
}
