<head>
  <link href="https://gmpg.org/xfn/11" rel="profile" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% include analytics.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />

  <!-- Icons -->
  {% include favicons.html %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.feed.path | default: 'feed.xml' | relative_url }}" />

  <!-- Twitter -->
  {% if page.twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jchibbard">
    <meta name="twitter:creator" content="@jchibbard">
    <meta name="twitter:title" content="{{ page.twitter.title }}">
    <meta name="twitter:description" content="{{ page.twitter.description }}">
    <meta name="twitter:image:src" content="{{ page.twitter.image_url }}">
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}

  <!-- Google -->
  {% if page.twitter %}
    <meta name="description" content="{{ page.twitter.description }}">
  {% endif %}

  <!-- Canonical Tag -->
  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical.url }}" />
  {% endif %}

  {% include custom-head.html %}
</head>
