aside.onebox {
  border: 5px solid $gray-7;
  padding: 12px 25px 0px 12px;
  font-size: 1em;
  margin-bottom: .8rem;

  header a{
    color: $gray-8;
    text-decoration: none;
  }

  header img {
    display: none;
  }

  .onebox-body img{
    display: none;
  }

  .onebox-body h3{
    margin-top: .5rem;
    font-size: 1.25rem;
  }

  .onebox-metadata {
    display: none;
  }
}
