    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 2 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id="comment-1403">
            <div id="div-comment-1403" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/aa57dd3bf9159794e426f0e21eb9ebc1?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/aa57dd3bf9159794e426f0e21eb9ebc1?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Alfonso SANCHEZ</cite>
                <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/ajax-beginners-tutorial/#comment-1403">September 28, 2015 at 7:09 am</a>
              </div>
              <p>
                Very good material, it can be undestood and used quicky.
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-1404">
                <div id="div-comment-1404" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">admin</cite> <span class=
                    "says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/ajax-beginners-tutorial/#comment-1404">September 28, 2015 at 8:46
                    am</a>
                  </div>
                  <p>
                    Thanks Alfonso : )
                  </p>
                </div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
