    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 2 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id="comment-945">
            <div id="div-comment-945" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/03045bb0fa0dc0e3968d76dcec5bfe90?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/03045bb0fa0dc0e3968d76dcec5bfe90?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Alex</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/display-ui-blocking-overlay-on-page-load/#comment-945">October 28, 2014 at
                1:58 pm</a>
              </div>
              <p>
                Hey, any reason why this isn&rsquo;t working in safari? Thanks
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-946">
                <div id="div-comment-946" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">admin</cite> <span class=
                    "says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/display-ui-blocking-overlay-on-page-load/#comment-946">October 28, 2014
                    at 2:03 pm</a>
                  </div>
                  <p>
                    Not that I&rsquo;m aware of.<br>
                    Are you seeing any errors in your browser&rsquo;s console?
                  </p>
                </div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
