  <div id="comments">
    <div id="content-comments">
      <h3>This post currently has 12 responses</h3>

      <ol class="commentlist">
        <li class="comment even thread-even depth-1 parent" id="comment-159">
          <div id="div-comment-159" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/088927688bf918a97a2e568b7883623a?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/088927688bf918a97a2e568b7883623a?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">Tony</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-159">
              March 25, 2013 at 6:18 pm</a>
            </div>

            <p>Any chance you know how to implelement this into a button? I was able to
            replicate exactly what you did in this tutorial but I am trying to place
            inside a button. I want a button to open the contact form in the lightbox as
            opposed to a plain old link. thanks.</p>
          </div>

          <ul class="children">
            <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2"
            id="comment-160">
              <div id="div-comment-160" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">hibbard.eu</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-160">
                  March 25, 2013 at 9:42 pm</a>
                </div>

                <p>The link will have a class, such as &lsquo;fl_box-1&rsquo;. The
                easiest thing to do would be to reference the link using this class, then
                use CSS to style it to look like a button. <a href=
                "http://stackoverflow.com/questions/6087854/how-can-i-style-an-address-link-to-make-it-look-like-an-input-button-with-css">
                Here&rsquo;s how</a>.</p>
              </div>
            </li>

            <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
            "comment-273">
              <div id="div-comment-273" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">hibbard.eu</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-273">
                  July 19, 2013 at 9:03 am</a>
                </div>

                <p>Or do it like this:<br />
                <code>[formlightbox_call
                class="7"]&lt;button&gt;Click&lt;/button&gt;[/formlightbox_call]<br />
                [formlightbox_obj id="7"][contact-form-7
                id="401"][/formlightbox_obj]</code></p>
              </div>
            </li>
          </ul>
        </li>

        <li class="comment odd alt thread-odd thread-alt depth-1 parent" id=
        "comment-291">
          <div id="div-comment-291" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/c9ceced8cf9c3895bd7c55008a5fe6dd?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/c9ceced8cf9c3895bd7c55008a5fe6dd?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">ben</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-291">
              August 4, 2013 at 9:31 am</a>
            </div>

            <p>Do you know how to do this with a WordPress menu that is not hard coded in
            the header PHP? Really trying to figure this out</p>
          </div>

          <ul class="children">
            <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
            "comment-292">
              <div id="div-comment-292" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">hibbard.eu</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-292">
                  August 4, 2013 at 12:47 pm</a>
                </div>

                <p>You could maybe insert the contact form elsewhere in the page, leaving
                the text option blank.</p>

                <p>E.g.</p>
                <pre>
[formlightbox title="Send me a message" text=""]
  [contact-form-7 id="401" title="Contact form 1"]
[/formlightbox]
</pre>

                <p>Then, using JavaScript, attach an event handler to the appropriate
                menu button to trigger the contact form on click.</p>

                <p>E.g.</p>
                <pre>
$(".myButton").on("click", function(){
  $(".fl_box-1").trigger("click");
})
</pre>
              </div>
            </li>
          </ul>
        </li>

        <li class="comment odd alt thread-even depth-1 parent" id="comment-305">
          <div id="div-comment-305" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/1388a1669ef23b866e318ff2c64cdfdb?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/1388a1669ef23b866e318ff2c64cdfdb?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn"><a href="http://www.abcdiamond.com" rel="external nofollow" class=
              "url">ABCDiamond</a></cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-305">
              August 11, 2013 at 3:31 am</a>
            </div>

            <p>I am looking for exactly what you have done, but when testing on your
            page, (this one), the pop up only comes up once.</p>

            <p>If you close it, and then then click again to open it, it hangs.<br />
            The page needs to be refreshed, so that it opens again immediately.<br />
            I opened this page in two tabs to test it, and both tabs did exactly the the
            same.</p>

            <p>I&rsquo;ve seen this problem happen in the past on something similar, but
            can&rsquo;t recall what.</p>

            <p>Any chance of a fix for this ?</p>

            <p>Thanks</p>
          </div>

          <ul class="children">
            <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
            "comment-312">
              <div id="div-comment-312" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">hibbard.eu</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-312">
                  August 19, 2013 at 9:56 am</a>
                </div>

                <p>Oh dear, that is a bit of a bug, isn&rsquo;t it?<br />
                I think the best thing to do is to report this to the plugin author. I
                just checked the project homepage and the bug is reproducible there,
                too.</p>
              </div>
            </li>

            <li class="comment odd alt depth-2" id="comment-439">
              <div id="div-comment-439" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/7890e75c428a15796601646d2c73b28c?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/7890e75c428a15796601646d2c73b28c?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">Ace</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-439">
                  October 17, 2013 at 7:03 am</a>
                </div>

                <p>Exactly having the same problem here.</p>
              </div>
            </li>
          </ul>
        </li>

        <li class="comment even thread-odd thread-alt depth-1 parent" id="comment-356">
          <div id="div-comment-356" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/0ca68015acca8da084c008ca895f6c9f?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/0ca68015acca8da084c008ca895f6c9f?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn"><a href="http://www.amero.helbomedia.dk" rel="external nofollow"
              class="url">Anders Helbo</a></cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-356">
              September 11, 2013 at 12:48 pm</a>
            </div>

            <p>Hi. I&rsquo;m almost done designing the new webpage on <a href=
            "http://amero.helbomedia.dk">http://amero.helbomedia.dk</a>, but I have a
            problem with Contact Form 7 and Form Lighbox.</p>

            <p>When click on the link in the top of the page &ldquo;Bliv ringet op af en
            konsulent&rdquo; and type name and phone number &ndash; then I want to click
            sent, and after that, the lightbox should shut down, but nothings happens.
            Any idea for a change, to make this happend?</p>

            <p>Thanks a lot.</p>

            <p>Anders Helbo, Denmark.</p>
          </div>

          <ul class="children">
            <li class=
            "comment byuser comment-author-admin bypostauthor odd alt depth-2 parent" id=
            "comment-357">
              <div id="div-comment-357" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">hibbard.eu</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-357">
                  September 11, 2013 at 1:02 pm</a>
                </div>

                <p>Hi,</p>

                <p>You are missing the file &ldquo;jquery-1.10.2.min.map&rdquo;</p>

                <p>Maybe this has something to do with it?</p>
              </div>

              <ul class="children">
                <li class="comment even depth-3" id="comment-358">
                  <div id="div-comment-358" class="comment-body">
                    <div class="comment-author vcard">
                      <img alt="" src=
                      "https://secure.gravatar.com/avatar/0ca68015acca8da084c008ca895f6c9f?s=64&amp;d=monsterid&amp;r=g"
                      srcset=
                      "https://secure.gravatar.com/avatar/0ca68015acca8da084c008ca895f6c9f?s=128&amp;d=monsterid&amp;r=g 2x"
                      class="avatar avatar-64 photo" height="64" width="64" />
                      <cite class="fn"><a href="http://www.amero.helbomedia.dk" rel=
                      "external nofollow" class="url">Anders Helbo</a></cite>
                      <span class="says">says:</span>
                    </div>

                    <div class="comment-meta commentmetadata">
                      <a href=
                      "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-358">
                      September 11, 2013 at 3:04 pm</a>
                    </div>

                    <p>Where could I find it, and how should it be added in the
                    website?</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="comment odd alt thread-even depth-1" id="comment-586">
          <div id="div-comment-586" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/9a3ee40fbccaae24bc12f51e999a156d?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/9a3ee40fbccaae24bc12f51e999a156d?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn"><a href="http://www.jobdeoz.com" rel="external nofollow" class=
              "url">mandeep</a></cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/display-your-wordpress-contact-form-in-a-lightbox/#comment-586">
              February 18, 2014 at 9:02 am</a>
            </div>

            <p>thanks really helps me alot awesome work salute work</p>
          </div>
        </li>
      </ol>
    </div>

    <h3>Comments are closed!</h3>
  </div>
