    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 3 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id=
          "comment-490">
            <div id="div-comment-490" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/3181277ca63c202bc68329d2d67123d4?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/3181277ca63c202bc68329d2d67123d4?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn"><a href="http://NMCEvent.ca"
                rel="external nofollow" class="url">Matt
                Howlett</a></cite> <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/how-to-detect-a-touch-device-using-javascript/#comment-490">
                November 25, 2013 at 5:59 am</a>
              </div>
              <p>
                Hey. Came across your article when searching for
                touch-option for a hover class CSS effect seen
                here:
              </p>
              <p>
                NMCEvent.ca/students
              </p>
              <p>
                Where did you find documentation about how to use
                modernizr&rsquo;s touch detection? I&rsquo;d like
                to change the hover to single-tap whenever the user
                is on mobile/touch device. Could you point me in
                the right direction?
              </p>
              <p>
                Thanks,
              </p>
            </div>
            <ul class="children">
              <li class=
              "comment byuser comment-author-admin bypostauthor odd alt depth-2"
              id="comment-493">
                <div id="div-comment-493" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/how-to-detect-a-touch-device-using-javascript/#comment-493">
                    November 25, 2013 at 11:35 am</a>
                  </div>
                  <p>
                    Hi there,
                  </p>
                  <p>
                    Thanks for your comments.
                  </p>
                  <p>
                    The link you posted leads to a 404, I`m afraid,
                    so I can&rsquo;t see what you&rsquo;re talking
                    about.
                  </p>
                  <p>
                    The little modenizr documentation that there is
                    on touch detection, can be found here: <a href=
                    "http://modernizr.com/docs/#touch">http://modernizr.com/docs/#touch</a>
                  </p>
                  <p>
                    Apart from that, I found StackOverflow to be
                    very helpful (see links above).
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1"
          id="comment-919">
            <div id="div-comment-919" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/789997de9b52f81781f88aeca4260426?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/789997de9b52f81781f88aeca4260426?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn"><a href=
                "http://www.appmaisters.com/android-development/"
                rel="external nofollow" class=
                "url">AppMaisters</a></cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/how-to-detect-a-touch-device-using-javascript/#comment-919">
                September 29, 2014 at 9:04 am</a>
              </div>
              <p>
                A useful blog post on the topic, linked to from
                within the Modernizr source for detecting touch
                events. Conclusion: it&rsquo;s not likely to
                reliably detect touchscreen devices from
                Javascript.
              </p>
              <p>
                <a href=
                "http://www.stucox.com/blog/you-cant-detect-a-touchscreen/">
                http://www.stucox.com/blog/you-cant-detect-a-touchscreen/</a>
              </p>
            </div>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
