  <div id="comments">
    <div id="content-comments">
      <h3>This post currently has 7 responses</h3>

      <ol class="commentlist">
        <li class="comment even thread-even depth-1" id="comment-294">
          <div id="div-comment-294" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/08c64228e899e9e866cb2614e181600c?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/08c64228e899e9e866cb2614e181600c?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">PETER MUNUO</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/how-to-insert-the-current-date-into-a-datetime-field-in-a-mysql-database-using-php/#comment-294">
              August 4, 2013 at 7:58 pm</a>
            </div>

            <p>how to insert date in each column of a table for every month?</p>
          </div>
        </li>

        <li class="comment odd alt thread-odd thread-alt depth-1 parent" id=
        "comment-447">
          <div id="div-comment-447" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/ab0f61ce7151a406cc463a03c1612269?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/ab0f61ce7151a406cc463a03c1612269?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn"><a href="http://www.sigmato.com" rel="external nofollow" class=
              "url">sigmato</a></cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/how-to-insert-the-current-date-into-a-datetime-field-in-a-mysql-database-using-php/#comment-447">
              October 21, 2013 at 11:12 am</a>
            </div>

            <p>Great one, Can we use the default current timestamp option available in
            php myadmin panel?</p>
          </div>

          <ul class="children">
            <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
            "comment-448">
              <div id="div-comment-448" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">hibbard.eu</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/how-to-insert-the-current-date-into-a-datetime-field-in-a-mysql-database-using-php/#comment-448">
                  October 21, 2013 at 11:34 am</a>
                </div>

                <p>I would think so.</p>

                <p>Why don&rsquo;t you try it out and let us know if it works?</p>
              </div>
            </li>
          </ul>
        </li>

        <li class="comment odd alt thread-even depth-1 parent" id="comment-881">
          <div id="div-comment-881" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/74c2da8b2310c2feeb3268a24e29e934?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/74c2da8b2310c2feeb3268a24e29e934?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn"><a href="http://mtfdforms.org" rel="external nofollow" class=
              "url">Michael Zucker</a></cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/how-to-insert-the-current-date-into-a-datetime-field-in-a-mysql-database-using-php/#comment-881">
              August 20, 2014 at 5:52 pm</a>
            </div>

            <p>how do I apply the EST timezone to something like this:</p>
            <pre>
&lt;input type="hidden" name="hiddenField" id="hiddenField" value=&lt;?php $query = "UPDATE ApparatusTrouble SET _submitted_ = CURRENT_TIMESTAMP ";
</pre>
          </div>

          <ul class="children">
            <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
            "comment-885">
              <div id="div-comment-885" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">admin</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/how-to-insert-the-current-date-into-a-datetime-field-in-a-mysql-database-using-php/#comment-885">
                  August 22, 2014 at 10:11 am</a>
                </div>

                <p>Don&rsquo;t do this. You will open yourself to SQL injection
                attacks.</p>

                <p>You can alter the timezone to EST like so:</p>
                <pre>
ALTER SESSION SET TIME_ZONE = 'EST';
</pre>
              </div>
            </li>
          </ul>
        </li>

        <li class="comment odd alt thread-odd thread-alt depth-1 parent" id=
        "comment-1137">
          <div id="div-comment-1137" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/8b59dee7e59ad63ca309edd9effc2618?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/8b59dee7e59ad63ca309edd9effc2618?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">xyz</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href=
              "https://hibbard.eu/how-to-insert-the-current-date-into-a-datetime-field-in-a-mysql-database-using-php/#comment-1137">
              April 30, 2015 at 12:42 pm</a>
            </div>

            <p>hi&hellip;.i have a doubt in how to store the given date into the database
            instead of giving the current date&hellip;???</p>

            <p>Thanks in advance&hellip;:-)</p>
          </div>

          <ul class="children">
            <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
            "comment-1138">
              <div id="div-comment-1138" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">admin</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/how-to-insert-the-current-date-into-a-datetime-field-in-a-mysql-database-using-php/#comment-1138">
                  May 1, 2015 at 3:53 pm</a>
                </div>

                <p>Hi,</p>

                <p>Something like this:</p>
                <pre>
$date = preg_replace("([^0-9/])", "", $_POST['date']);
$sql = "INSERT INTO table(date) VALUES (:date)";
$stmt = $pdo-&gt;prepare($sql);
$stmt-&gt;bindParam(':date', $date, PDO::PARAM_STR);
$stmt-&gt;execute();
</pre>
              </div>
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <h3 class="nocomments">Comments are closed!</h3>
</div>
