    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 2 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id="comment-250">
            <div id="div-comment-250" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/a3b6c2d0b2bafdb9ad9cdf782873204d?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/a3b6c2d0b2bafdb9ad9cdf782873204d?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Jeff Nyman</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/how-to-manage-multiple-versions-of-ruby-on-windows/#comment-250">June 26,
                2013 at 12:54 pm</a>
              </div>
              <p>
                Something to keep in mind: on Windows you need to make sure the DevKit for each Ruby version is
                established. This gets tricky when you want Ruby 2.0 on your machine along with prior Ruby versions
                because there are different DevKits for the 2.x branch versus previous branches.
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-251">
                <div id="div-comment-251" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/how-to-manage-multiple-versions-of-ruby-on-windows/#comment-251">June
                    27, 2013 at 9:39 am</a>
                  </div>
                  <p>
                    Thank you for pointing that out, Jeff. This is a detail I forgot to mention.
                  </p>
                </div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
