<div id="comments">
  <div id="content-comments">
    <h3>This post currently has one response</h3>

    <ol class="commentlist">
      <li class="comment even thread-even depth-1" id="comment-20">
        <div id="div-comment-20" class="comment-body">
          <div class="comment-author vcard">
            <img alt="" src=
            "https://secure.gravatar.com/avatar/6760f138b5dc1b7c287dd264e297b3d1?s=64&amp;d=monsterid&amp;r=g"
            srcset=
            "https://secure.gravatar.com/avatar/6760f138b5dc1b7c287dd264e297b3d1?s=128&amp;d=monsterid&amp;r=g 2x"
            class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
            "fn">Pepper</cite> <span class="says">says:</span>
          </div>

          <div class="comment-meta commentmetadata">
            <a href=
            "https://hibbard.eu/making-a-very-simple-wordpress-theme-for-a-static-site/#comment-20">
            October 10, 2012 at 12:37 am</a>
          </div>

          <p>Incredible &ndash; just today I was asking myself the question: How do you
          take the &ldquo;Blog&rdquo; out of WordPress! Found a few blank WP themes and
          learned a lot about the files in a WP-theme, almost half of the code was
          about the Blog and I don&rsquo;t need it. Also found the new 2012-theme and
          read about how they created it; it is imposible for me to strip the
          unnecessary features out, or even to redesign the theme to look like my
          design. I will give this a try. Thank you.</p>
        </div>
      </li>
    </ol>
  </div>

  <h3>Comments are closed!</h3>
</div>
