<div id="comments">
  <div id="content-comments">
    <h3>This post currently has 2 responses</h3>

    <ol class="commentlist">
      <li class="comment even thread-even depth-1 parent" id="comment-943">
        <div id="div-comment-943" class="comment-body">
          <div class="comment-author vcard">
            <img alt="" src=
            "https://secure.gravatar.com/avatar/d1e037c14a1235a14ae9609e0d758d87?s=64&amp;d=monsterid&amp;r=g"
            srcset=
            "https://secure.gravatar.com/avatar/d1e037c14a1235a14ae9609e0d758d87?s=128&amp;d=monsterid&amp;r=g 2x"
            class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
            "fn">indiana</cite> <span class="says">says:</span>
          </div>

          <div class="comment-meta commentmetadata">
            <a href=
            "https://hibbard.eu/overlaying-lightbox-with-the-html5-canvas-element/#comment-943">
            October 23, 2014 at 3:59 am</a>
          </div>

          <p>Great solution! But unfortuntely, if I update either jquery to v1.9.x or
          lightbox to v2.7.1, the result will get failed or weird&hellip;</p>
        </div>

        <ul class="children">
          <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2"
          id="comment-944">
            <div id="div-comment-944" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                "fn">admin</cite> <span class="says">says:</span>
              </div>

              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/overlaying-lightbox-with-the-html5-canvas-element/#comment-944">
                October 24, 2014 at 12:35 pm</a>
              </div>

              <p>Hi there,</p>

              <p>Thank you for pointing that out.<br />
              I've updated <a href="https://hibbard.eu/demos/lightbox-canvas/2/">the demo</a> to work with the latest jQuery and Lightbox</p>
            </div>
          </li>
        </ul>
      </li>
    </ol>
  </div>

  <h3>Comments are closed!</h3>
</div>
