    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 23 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1" id=
          "comment-112">
            <div id="div-comment-112" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/cbda2309e19850795f078c04ba58570f?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/cbda2309e19850795f078c04ba58570f?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">Austin</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-112">
                February 6, 2013 at 6:17 am</a>
              </div>
              <p>
                I followed the instruction, where your changing the
                php.ini file. I am changing the php.ini file, but
                it doesn&rsquo;t update on my info.php, and its my
                headers are still not working. thanks!
              </p>
            </div>
          </li>
          <li class="comment odd alt thread-odd thread-alt depth-1"
          id="comment-113">
            <div id="div-comment-113" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/0db3ae9cc6befb3cb278d4be8b40c616?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/0db3ae9cc6befb3cb278d4be8b40c616?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">Jake</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-113">
                February 7, 2013 at 7:01 am</a>
              </div>
              <p>
                I am having the same problem. I changed them in
                php5.4.4 which is the version I am using according
                to info.php and still nothing has changed.
              </p>
            </div>
          </li>
          <li class="comment even thread-even depth-1 parent" id=
          "comment-154">
            <div id="div-comment-154" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/4320db431a8142e678a23c4ba5ecb269?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/4320db431a8142e678a23c4ba5ecb269?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">Arvin</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-154">
                March 21, 2013 at 7:07 am</a>
              </div>
              <p>
                Thanks for the tip. For those having redirect
                problems after editing the php.ini file inside the
                MAMP/conf/(your php version) folder, there&rsquo;s
                another php.ini file located at MAMP/bin/php/, I
                also edited that one and the
                header(Location&hellip; problem was solved.
              </p>
            </div>
            <ul class="children">
              <li class="comment odd alt depth-2" id="comment-180">
                <div id="div-comment-180" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/39501d80c2a51c4a5addc8d8e1998af3?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/39501d80c2a51c4a5addc8d8e1998af3?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class="fn">AEG</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-180">
                    April 17, 2013 at 3:24 am</a>
                  </div>
                  <p>
                    Thanks, Arvin! That did the trick.
                  </p>
                </div>
              </li>
              <li class="comment even depth-2" id="comment-582">
                <div id="div-comment-582" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/3eda6fcd3204ef285fa52176c28c4d3e?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/3eda6fcd3204ef285fa52176c28c4d3e?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class="fn">jun</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-582">
                    February 15, 2014 at 2:46 am</a>
                  </div>
                  <p>
                    Thanks bro!
                  </p>
                </div>
              </li>
              <li class="comment odd alt depth-2" id="comment-914">
                <div id="div-comment-914" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/c12a3f1bde39d8e5a2ade1801c4c1a3f?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/c12a3f1bde39d8e5a2ade1801c4c1a3f?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class="fn"><a href=
                    "http://tsalmon.fr" rel="external nofollow"
                    class="url">jeffy</a></cite> <span class=
                    "says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-914">
                    September 26, 2014 at 6:00 pm</a>
                  </div>
                  <p>
                    Thanks !
                  </p>
                </div>
              </li>
              <li class="comment even depth-2" id="comment-1009">
                <div id="div-comment-1009" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/d69611a87524e17526928e90d92acd37?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/d69611a87524e17526928e90d92acd37?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class=
                    "fn">yannsonnboys</cite> <span class=
                    "says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-1009">
                    January 4, 2015 at 12:42 pm</a>
                  </div>
                  <p>
                    Thank so much man.
                  </p>
                </div>
              </li>
              <li class="comment odd alt depth-2" id=
              "comment-1146">
                <div id="div-comment-1146" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/b6fa6107a647ba2ca02498c25b5ca3ac?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/b6fa6107a647ba2ca02498c25b5ca3ac?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class="fn">Isaac
                    Rosario</cite> <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-1146">
                    May 6, 2015 at 4:13 am</a>
                  </div>
                  <p>
                    Thanks a lot! Work it perfect&hellip;<br>
                    I think that is stupid that PHP on Mac have
                    many functions disabled! This make the life a
                    little difficult for the programmers because
                    sometimes we think the problem is in the code
                    and not is so.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1"
          id="comment-262">
            <div id="div-comment-262" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/68e40da7864e579c0eeb72cfa8bbe927?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/68e40da7864e579c0eeb72cfa8bbe927?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">M&aacute;rcio Serrado</cite>
                <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-262">
                July 11, 2013 at 3:46 pm</a>
              </div>
              <p>
                You saved my day&hellip; but please update the
                post:
              </p>
              <p>
                We must edit 2 files as Arvin noted:
              </p>
              <p>
                Thanks for the tip. For those having redirect
                problems after editing the php.ini file inside the
                MAMP/conf/(your php version) folder, there&rsquo;s
                another php.ini file located at MAMP/bin/php/, I
                also edited that one and the
                header(Location&hellip; problem was solved.
              </p>
            </div>
          </li>
          <li class="comment odd alt thread-even depth-1" id=
          "comment-350">
            <div id="div-comment-350" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/69170ad99ae3982097814ae7bd49ba79?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/69170ad99ae3982097814ae7bd49ba79?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">guyda</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-350">
                September 9, 2013 at 7:04 pm</a>
              </div>
              <p>
                That other php.ini solution saved my life. thanks a
                lot for finding that and sharing it with us.
              </p>
            </div>
          </li>
          <li class=
          "comment even thread-odd thread-alt depth-1 parent" id=
          "comment-457">
            <div id="div-comment-457" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/0e61d8f749363aa7d3ef8256fde82769?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/0e61d8f749363aa7d3ef8256fde82769?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">jeffrey</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-457">
                October 31, 2013 at 4:59 pm</a>
              </div>
              <p>
                Thanks for posting this ace solution. Saved me, and
                I&rsquo;m sure many others who haven&rsquo;t
                posted, hours of frustration and sanity.
              </p>
              <p>
                Cheers!
              </p>
            </div>
            <ul class="children">
              <li class=
              "comment byuser comment-author-admin bypostauthor odd alt depth-2"
              id="comment-463">
                <div id="div-comment-463" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-463">
                    November 2, 2013 at 10:20 pm</a>
                  </div>
                  <p>
                    You&rsquo;re welcome, Jeffrey.<br>
                    Thanks for taking the time to let me know that
                    this worked for you.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-even depth-1" id=
          "comment-487">
            <div id="div-comment-487" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/3e25df3fda739a24b02d0f13584ce621?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/3e25df3fda739a24b02d0f13584ce621?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">nunzio</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-487">
                November 24, 2013 at 1:28 pm</a>
              </div>
              <p>
                Ohhhh yeeeppp
              </p>
              <p>
                thanks!!
              </p>
            </div>
          </li>
          <li class="comment odd alt thread-odd thread-alt depth-1"
          id="comment-580">
            <div id="div-comment-580" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/22c751cc24777fd4dd772bc4e2a23bb4?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/22c751cc24777fd4dd772bc4e2a23bb4?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">nabira</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-580">
                February 13, 2014 at 5:26 pm</a>
              </div>
              <p>
                ok thanks a lot,,,,, it&rsquo;s work!
              </p>
            </div>
          </li>
          <li class="comment even thread-even depth-1" id=
          "comment-723">
            <div id="div-comment-723" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/51001b803bbcaa076fac4d87e25c565e?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/51001b803bbcaa076fac4d87e25c565e?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">mostafa</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-723">
                June 2, 2014 at 4:53 am</a>
              </div>
              <p>
                Thanks a lot guys &lt;3
              </p>
            </div>
          </li>
          <li class="comment odd alt thread-odd thread-alt depth-1"
          id="comment-778">
            <div id="div-comment-778" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/561af6a4894a5a5e2bee69c2dcaaa79d?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/561af6a4894a5a5e2bee69c2dcaaa79d?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">sathish</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-778">
                July 1, 2014 at 5:17 am</a>
              </div>
              <p>
                Thanks a lot.. Really work.. i solved
              </p>
            </div>
          </li>
          <li class="comment even thread-even depth-1 parent" id=
          "comment-779">
            <div id="div-comment-779" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/d1e66f08b061a7e1aa5c77dfe00d9fdc?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/d1e66f08b061a7e1aa5c77dfe00d9fdc?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">Julia</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-779">
                July 3, 2014 at 10:41 am</a>
              </div>
              <p>
                Thank you so much, I had a site working with XAMPP
                and not with MAMP and after hours of googling, this
                finally helped me. I am truly grateful!
              </p>
            </div>
            <ul class="children">
              <li class=
              "comment byuser comment-author-admin bypostauthor odd alt depth-2"
              id="comment-780">
                <div id="div-comment-780" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-780">
                    July 3, 2014 at 10:45 am</a>
                  </div>
                  <p>
                    Hey Julia,
                  </p>
                  <p>
                    Thanks for taking the time to comment.
                    I&rsquo;m glad the post proved useful.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class=
          "comment even thread-odd thread-alt depth-1 parent" id=
          "comment-964">
            <div id="div-comment-964" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/bf2e9eb6861376f53b77d1bbb1f0e6e2?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/bf2e9eb6861376f53b77d1bbb1f0e6e2?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn"><a href=
                "http://www.nartub.com" rel="external nofollow"
                class="url">Nartub</a></cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-964">
                November 23, 2014 at 9:54 pm</a>
              </div>
              <p>
                Just for the record, if you have MAMP Pro, you need
                to change a third file located in :<br>
                1) Go to App/MampPro (right click, Show Package
                Content)<br>
                2) Go to Contents/Resources/<br>
                3) You&rsquo;ll find lots of php.x.xx.ini files.
                Change the version you use.<br>
                4) Restart Mamp and that will do the trick.
              </p>
              <p>
                ps. (I changed the other files in the MAMP folder,
                so I&rsquo;m not sure if only changing this file or
                the three of them does the trick)<br>
                Good luck!
              </p>
            </div>
            <ul class="children">
              <li class=
              "comment byuser comment-author-admin bypostauthor odd alt depth-2"
              id="comment-968">
                <div id="div-comment-968" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64"
                    width="64"> <cite class="fn">admin</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-968">
                    November 24, 2014 at 12:40 pm</a>
                  </div>
                  <p>
                    Thanks, Nartub!
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-even depth-1" id=
          "comment-1000">
            <div id="div-comment-1000" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/1200b51574bbeb086e86e4c4f7a64bb5?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/1200b51574bbeb086e86e4c4f7a64bb5?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn"><a href=
                "http://www.robertosimon.it" rel=
                "external nofollow" class="url">Roberto</a></cite>
                <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-1000">
                December 16, 2014 at 1:22 am</a>
              </div>
              <p>
                Thanks!! You saved me!!!
              </p>
            </div>
          </li>
          <li class="comment odd alt thread-odd thread-alt depth-1"
          id="comment-1001">
            <div id="div-comment-1001" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/d841acae5a2d3d3fcbae8af797da50b1?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/d841acae5a2d3d3fcbae8af797da50b1?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn">nenu</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-1001">
                December 21, 2014 at 11:10 am</a>
              </div>
              <p>
                Thanks this saved a me a lot of time!
              </p>
            </div>
          </li>
          <li class="comment even thread-even depth-1" id=
          "comment-1300">
            <div id="div-comment-1300" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/7efb684d3b9526dc15c05eb52cfe6639?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/7efb684d3b9526dc15c05eb52cfe6639?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width=
                "64"> <cite class="fn"><a href=
                "http://www.fggcomuaran.com" rel=
                "external nofollow" class="url">JOB
                SUNDAY</a></cite> <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/php-headerlocation-not-working-in-mamp/#comment-1300">
                August 12, 2015 at 11:23 am</a>
              </div>
              <p>
                header is not working and i have imported the files
                to the internet. How can i change the settings as
                you had suggested. Thanks
              </p>
            </div>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
