    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 2 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id="comment-719">
            <div id="div-comment-719" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/c18d4f21c36997f3c7806dff9002dde3?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/c18d4f21c36997f3c7806dff9002dde3?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Johannes</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/resurrecting-a-rails-2-x-app/#comment-719">May 29, 2014 at 3:14 pm</a>
              </div>
              <p>
                does not work for me &ndash; looks like, there&rsquo;s no ruby1.8 packages in ubuntu 14.04 any more.
                are you sure, you tested this with 14.04?
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-720">
                <div id="div-comment-720" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/resurrecting-a-rails-2-x-app/#comment-720">May 29, 2014 at 3:29 pm</a>
                  </div>
                  <p>
                    Dude, I&rsquo;m sorry. It was 13.04. I updated the post.
                  </p>
                </div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
