    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 9 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id="comment-433">
            <div id="div-comment-433" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/ae0c071558fd5ffd0c77b3331c86b2a4?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/ae0c071558fd5ffd0c77b3331c86b2a4?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Canadian</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-433">October 15, 2013 at 9:54 am</a>
              </div>
              <p>
                Hi,
              </p>
              <p>
                Thanks for your suggestions on how to switch to Yahoo classic view. I would like to NOT get stuck with
                Classic. Hence, pls revert on how to go back to Latest Yahoo Mail version.
              </p>
              <p>
                Thanks and Regards
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-434">
                <div id="div-comment-434" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-434">October 15, 2013 at 10:06
                    am</a>
                  </div>
                  <p>
                    Hi there,
                  </p>
                  <p>
                    Just set the user-agent switcher back to its original value and clear your cookies.
                  </p>
                  <p>
                    You can clear either the Yahoo! specific cookies by hand or follow the instructions <a href=
                    "http://hibbard.eu/how-to-clear-your-browsers-cache/">here</a>.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1 parent" id="comment-443">
            <div id="div-comment-443" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/ea995a47cc9354d86eff7dddd35b6b06?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/ea995a47cc9354d86eff7dddd35b6b06?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Bill</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-443">October 19, 2013 at 10:11 am</a>
              </div>
              <p>
                I stricly applied the protocol.
              </p>
              <p>
                What I got is not a reverting to Yahoo Classic but the same Yahoo greetings I usually get when
                disabling Java.
              </p>
              <p>
                Can you post a screenshot of what the final Yahoo version is supposed to be with Zorro IE 6 ?
              </p>
              <p>
                Thank you for helping.
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-444">
                <div id="div-comment-444" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-444">October 19, 2013 at 1:06
                    pm</a>
                  </div>
                  <p>
                    Hi there,
                  </p>
                  <p>
                    I just checked this again and it definitely still works (i.e. Yahoo has not blocked anything).
                  </p>
                  <p>
                    To check that your user agent is set correctly, you can visit: <a href=
                    "http://supportdetails.com">http://supportdetails.com</a>
                  </p>
                  <p>
                    If you have done everything corectly, you should see &ldquo;Web Browser IE 6.0&rdquo;.
                  </p>
                  <p>
                    After that, it is just a question of accessing your mail as usual.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-even depth-1 parent" id="comment-460">
            <div id="div-comment-460" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/5f40c6e61ba9b8e22dfaf8089d72a4d8?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/5f40c6e61ba9b8e22dfaf8089d72a4d8?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Carole Sith</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-460">November 1, 2013 at 2:41 pm</a>
              </div>
              <p>
                Wow it works! I didn&rsquo;t think there was ANY way to get Classic back. No one hates new Yahoo more
                than me! It is HORRIBLE and querky and buggy and the most stupid email interface possible. I was
                searching for a new email and saw your page. Guess I&rsquo;ll be sticking round Yahoo mail a little
                longer, as much as I HATE the company for causing torture to their long-devoted PAYING customers.
                THANKS SO MUCH!!
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-461">
                <div id="div-comment-461" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-461">November 2, 2013 at 10:18
                    pm</a>
                  </div>
                  <p>
                    Thanks for your comments, Carole.<br>
                    I&rsquo;m glad I could help you.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1 parent" id="comment-475">
            <div id="div-comment-475" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/557861e322e770979c2d1d72a0157fdc?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/557861e322e770979c2d1d72a0157fdc?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Cindy from Holland</cite>
                <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-475">November 18, 2013 at 11:05
                pm</a>
              </div>
              <p>
                Hello, I&rsquo;m trying to go back to the old Yahoo, but I&rsquo;m stuck. I can&rsquo;t find the user
                agent switcher symbol in my upper right corner (I dont know much about computers, zo please keep your
                answer simple&hellip;). Thank you, Cindy
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2 parent" id="comment-476">
                <div id="div-comment-476" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-476">November 18, 2013 at 11:22
                    pm</a>
                  </div>
                  <p>
                    Hi,
                  </p>
                  <p>
                    Just uninstall the extension and clear your cookies as described above.
                  </p>
                  <p>
                    In Chrome you can uninstall extensions via Settings &gt; Extensions &gt; Remove
                  </p>
                  <p>
                    Or do you mean you can&rsquo;t get the extension to install in the first place?
                  </p>
                </div>
                <ul class="children">
                  <li class="comment even depth-3" id="comment-481">
                    <div id="div-comment-481" class="comment-body">
                      <div class="comment-author vcard">
                        <img alt="" src=
                        "https://secure.gravatar.com/avatar/557861e322e770979c2d1d72a0157fdc?s=64&amp;d=monsterid&amp;r=g"
                        srcset=
                        "https://secure.gravatar.com/avatar/557861e322e770979c2d1d72a0157fdc?s=128&amp;d=monsterid&amp;r=g 2x"
                        class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Cindy</cite>
                        <span class="says">says:</span>
                      </div>
                      <div class="comment-meta commentmetadata">
                        <a href="https://hibbard.eu/revert-to-yahoo-mail-classic/#comment-481">November 20, 2013 at
                        12:02 am</a>
                      </div>
                      <p>
                        Okay, it worked!! It&rsquo;s not the version of Yahoo I wanted (I&rsquo;m not sure this is
                        Classic, looks a bit simpler), but it&rsquo;s better than the new version. So thank you very
                        much!
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
