    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 6 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id="comment-494">
            <div id="div-comment-494" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/d0bfc64b71c3403c2115b7cca145f4ea?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/d0bfc64b71c3403c2115b7cca145f4ea?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Anon</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/simple-ajax-unit-converter/#comment-494">November 25, 2013 at 11:24 pm</a>
              </div>
              <p>
                What if one would want arbitrary units? (Say 1 = 1000 or 0.1 but also equals 100000 but also 0.01 and
                so on and so forth up to one milionth)
              </p>
              <p>
                (1 = 100000000 should be the highest)
              </p>
              <p>
                What if one would want to use decimals regardless if he uses , or .
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-496">
                <div id="div-comment-496" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/simple-ajax-unit-converter/#comment-496">November 26, 2013 at 9:05
                    am</a>
                  </div>
                  <p>
                    Hi,
                  </p>
                  <p>
                    I&rsquo;m afraid I don&rsquo;t understand your first question.
                  </p>
                  <p>
                    Regarding the decimals, I would look at the <a href=
                    "http://php.net/manual/en/function.number-format.php" title="PHP docs - number_format" target=
                    "_blank">number_format</a> function.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1 parent" id="comment-571">
            <div id="div-comment-571" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/778e0276b37baaa1860cff776ec9bdf8?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/778e0276b37baaa1860cff776ec9bdf8?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">oppa</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/simple-ajax-unit-converter/#comment-571">February 4, 2014 at 12:03 pm</a>
              </div>
              <p>
                Thx for this tutorial. I am newbie to the php,html,javascript and so on. So, can you please help me how
                to make some customization, for an beautiful page?
              </p>
              <p>
                sorry for my english,
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-572">
                <div id="div-comment-572" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/simple-ajax-unit-converter/#comment-572">February 4, 2014 at 12:12
                    pm</a>
                  </div>
                  <p>
                    Hi there,
                  </p>
                  <p>
                    Thanks for your comment.
                  </p>
                  <p>
                    I guess I can help you with your customizations. It depends what you have in mind.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-even depth-1 parent" id="comment-605">
            <div id="div-comment-605" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/90afd1a3a5a4a4f204b7853a76775905?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/90afd1a3a5a4a4f204b7853a76775905?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">michael</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/simple-ajax-unit-converter/#comment-605">March 6, 2014 at 6:51 pm</a>
              </div>
              <p>
                i want use .xml file for this demo, can u show me how i can do that, thanks u so much
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-606">
                <div id="div-comment-606" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/simple-ajax-unit-converter/#comment-606">March 7, 2014 at 10:30 am</a>
                  </div>
                  <p>
                    Sure, but not in the comments section of this blog.<br>
                    If you go to <a href="http://www.sitepoint.com/forums/">SitePoint forums</a>, create an account,
                    post your question in the <a href=
                    "http://www.sitepoint.com/forums/forumdisplay.php?15-JavaScript-amp-jQuery">JavaScript forum</a>,
                    then let me know (via my contact form, for example), I&rsquo;ll answer you there.
                  </p>
                </div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
