    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 1 response
        </h3>
        <ol class="commentlist"></ol>
        <p>
          Pingbacks:
        </p>
        <ul>
          <li>
            <a href=
            "http://www.sitepoint.com/creating-simple-style-switcher/"
            rel="external nofollow" class="url">Creating a Simple
            Style Switcher</a>
          </li>
        </ul>
      </div>
      <h3>Comments are closed!</h3>
    </div>
