<div id="comments">
  <div id="content-comments">
    <h3>This post currently has 8 responses</h3>

    <ol class="commentlist">
      <li class="comment even thread-even depth-1 parent" id="comment-176">
        <div id="div-comment-176" class="comment-body">
          <div class="comment-author vcard">
            <img alt="" src=
            "https://secure.gravatar.com/avatar/fb9e12c58513ab678e2ade18ee3eb3c4?s=64&amp;d=monsterid&amp;r=g"
            srcset=
            "https://secure.gravatar.com/avatar/fb9e12c58513ab678e2ade18ee3eb3c4?s=128&amp;d=monsterid&amp;r=g 2x"
            class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
            "fn">calady</cite> <span class="says">says:</span>
          </div>

          <div class="comment-meta commentmetadata">
            <a href=
            "https://hibbard.eu/simple-form-validation-in-php/#comment-176">April 14,
            2013 at 5:53 pm</a>
          </div>

          <p>the codes are quite good but something is missing especially in names
          field.it is impossible for a name to numbers but this program allow this.</p>
        </div>

        <ul class="children">
          <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2"
          id="comment-177">
            <div id="div-comment-177" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                "fn">hibbard.eu</cite> <span class="says">says:</span>
              </div>

              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/simple-form-validation-in-php/#comment-177">April
                14, 2013 at 8:29 pm</a>
              </div>

              <p>Thanks for your comment.<br />
              What I showed was only an example of how validation works.<br />
              It would not be difficult to add this functionality yourself. E.g.</p>
              <pre>
if(preg_match('#[^a-z]+$#i', $last_name)) {
  echo "Your first name cannot contain numbers or symbols";
}
</pre>
            </div>
          </li>
        </ul>
      </li>

      <li class="comment even thread-odd thread-alt depth-1" id="comment-182">
        <div id="div-comment-182" class="comment-body">
          <div class="comment-author vcard">
            <img alt="" src=
            "https://secure.gravatar.com/avatar/a471430761c26db998885ba5e83df9e9?s=64&amp;d=monsterid&amp;r=g"
            srcset=
            "https://secure.gravatar.com/avatar/a471430761c26db998885ba5e83df9e9?s=128&amp;d=monsterid&amp;r=g 2x"
            class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
            "fn">Kevin</cite> <span class="says">says:</span>
          </div>

          <div class="comment-meta commentmetadata">
            <a href=
            "https://hibbard.eu/simple-form-validation-in-php/#comment-182">April 19,
            2013 at 4:20 pm</a>
          </div>

          <p>I&rsquo;ve been searching for great examples of PHP form entry validation,
          and your work above is the easiest to follow for beginners and provides
          exceptional, straightforward examples. You&rsquo;ve been most helpful to me
          and I thank you!</p>

          <p>(and I can&rsquo;t wait to check out the rest of your work too)</p>
        </div>
      </li>

      <li class="comment odd alt thread-even depth-1" id="comment-298">
        <div id="div-comment-298" class="comment-body">
          <div class="comment-author vcard">
            <img alt="" src=
            "https://secure.gravatar.com/avatar/a1f7cad4acd24e2a9e5e8d16200fd330?s=64&amp;d=monsterid&amp;r=g"
            srcset=
            "https://secure.gravatar.com/avatar/a1f7cad4acd24e2a9e5e8d16200fd330?s=128&amp;d=monsterid&amp;r=g 2x"
            class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
            "fn">bart</cite> <span class="says">says:</span>
          </div>

          <div class="comment-meta commentmetadata">
            <a href=
            "https://hibbard.eu/simple-form-validation-in-php/#comment-298">August 6,
            2013 at 10:56 pm</a>
          </div>

          <p>hi there</p>

          <p>how to move this php bit outsite of the html ?</p>
        </div>
      </li>

      <li class="comment even thread-odd thread-alt depth-1" id="comment-410">
        <div id="div-comment-410" class="comment-body">
          <div class="comment-author vcard">
            <img alt="" src=
            "https://secure.gravatar.com/avatar/5fa5b91fd6aba6da4e5b886585fd99a0?s=64&amp;d=monsterid&amp;r=g"
            srcset=
            "https://secure.gravatar.com/avatar/5fa5b91fd6aba6da4e5b886585fd99a0?s=128&amp;d=monsterid&amp;r=g 2x"
            class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
            "fn"><a href="http://kupbytes.site90.com" rel="external nofollow" class=
            "url">Servis racunara</a></cite> <span class="says">says:</span>
          </div>

          <div class="comment-meta commentmetadata">
            <a href=
            "https://hibbard.eu/simple-form-validation-in-php/#comment-410">October 1,
            2013 at 12:49 am</a>
          </div>

          <p>Great explanation!Tnx a lot!</p>
        </div>
      </li>

      <li class="comment odd alt thread-even depth-1 parent" id="comment-756">
        <div id="div-comment-756" class="comment-body">
          <div class="comment-author vcard">
            <img alt="" src=
            "https://secure.gravatar.com/avatar/cb79077acff54ef798cfd75b8ece5d67?s=64&amp;d=monsterid&amp;r=g"
            srcset=
            "https://secure.gravatar.com/avatar/cb79077acff54ef798cfd75b8ece5d67?s=128&amp;d=monsterid&amp;r=g 2x"
            class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
            "fn"><a href="http://www.sardahrkatha.com" rel="external nofollow" class=
            "url">darshan</a></cite> <span class="says">says:</span>
          </div>

          <div class="comment-meta commentmetadata">
            <a href=
            "https://hibbard.eu/simple-form-validation-in-php/#comment-756">June 20,
            2014 at 4:43 pm</a>
          </div>

          <p>sir this validation not perfect becaus first name in space is alsop
          allow&hellip; so its not ok&hellip; space not allowed</p>
        </div>

        <ul class="children">
          <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
          "comment-762">
            <div id="div-comment-762" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                "fn">hibbard.eu</cite> <span class="says">says:</span>
              </div>

              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/simple-form-validation-in-php/#comment-762">June
                22, 2014 at 9:02 pm</a>
              </div>

              <p>Hi,</p>

              <p>This would be easy to address in your validation code:</p>
              <pre>
if (preg_match('/\s/',$first_name)){
  // It contains whitespace
}
</pre>
            </div>
          </li>
        </ul>
      </li>

      <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-1269">
        <div id="div-comment-1269" class="comment-body">
          <div class="comment-author vcard">
            <img alt="" src=
            "https://secure.gravatar.com/avatar/982eca1052d1c416df8dc12286f235bb?s=64&amp;d=monsterid&amp;r=g"
            srcset=
            "https://secure.gravatar.com/avatar/982eca1052d1c416df8dc12286f235bb?s=128&amp;d=monsterid&amp;r=g 2x"
            class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
            "fn">alagar</cite> <span class="says">says:</span>
          </div>

          <div class="comment-meta commentmetadata">
            <a href=
            "https://hibbard.eu/simple-form-validation-in-php/#comment-1269">July 29,
            2015 at 1:28 pm</a>
          </div>

          <p>your work is Easiest way for beginners&hellip;thanx</p>
        </div>
      </li>
    </ol>
  </div>

  <h3>Comments are closed!</h3>
</div>
