    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 16 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id="comment-683">
            <div id="div-comment-683" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/4db0ad7ad47c5052c72c2ef2b78a0fb1?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/4db0ad7ad47c5052c72c2ef2b78a0fb1?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">stefan</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-683">May 2, 2014 at 8:35 pm</a>
              </div>
              <p>
                these tutorials are wonderful. I just wish there were dozens more. thank you!
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2 parent" id="comment-684">
                <div id="div-comment-684" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-684">May 5, 2014 at 8:05 am</a>
                  </div>
                  <p>
                    Thanks for that. Anything you would like to see a tutorial on?
                  </p>
                </div>
                <ul class="children">
                  <li class="comment even depth-3 parent" id="comment-1134">
                    <div id="div-comment-1134" class="comment-body">
                      <div class="comment-author vcard">
                        <img alt="" src=
                        "https://secure.gravatar.com/avatar/af21e09348804c5d1e722f4e3b7a6feb?s=64&amp;d=monsterid&amp;r=g"
                        srcset=
                        "https://secure.gravatar.com/avatar/af21e09348804c5d1e722f4e3b7a6feb?s=128&amp;d=monsterid&amp;r=g 2x"
                        class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Gareth</cite>
                        <span class="says">says:</span>
                      </div>
                      <div class="comment-meta commentmetadata">
                        <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-1134">April 29, 2015 at 4:07
                        am</a>
                      </div>
                      <p>
                        I&rsquo;d love to see: replacing an element in a page with something (say a picture from a
                        different website)
                      </p>
                    </div>
                    <ul class="children">
                      <li class="comment byuser comment-author-admin bypostauthor odd alt depth-4" id="comment-1135">
                        <div id="div-comment-1135" class="comment-body">
                          <div class="comment-author vcard">
                            <img alt="" src=
                            "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                            srcset=
                            "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                            class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">admin</cite>
                            <span class="says">says:</span>
                          </div>
                          <div class="comment-meta commentmetadata">
                            <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-1135">April 29, 2015 at 1:24
                            pm</a>
                          </div>
                          <p>
                            Hi Gareth,
                          </p>
                          <p>
                            That should be possible.<br>
                            If you head to <a href="http://community.sitepoint.com">http://community.sitepoint.com</a>,
                            open an account (you can log in with a bunch of services), then start a thread in the
                            JavaScript forum, we can discuss it there.<br>
                            Send me a message via Twitter/contact form when you have done this and I&rsquo;ll answer
                            you on SitePoint.
                          </p>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1 parent" id="comment-699">
            <div id="div-comment-699" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/65c86437c822d9870961783751d685ec?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/65c86437c822d9870961783751d685ec?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">pyromaniac_14</cite>
                <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-699">May 20, 2014 at 12:08 pm</a>
              </div>
              <p>
                How do you create a script that will constantly end the hapara remote control teacher dashboard in task
                manager on a chromebook?
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2 parent" id="comment-700">
                <div id="div-comment-700" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-700">May 20, 2014 at 12:09 pm</a>
                  </div>
                  <p>
                    To be honest, no idea.<br>
                    What have you tried?
                  </p>
                  <p>
                    Plus, what do you mean by &ldquo;constantly end&rdquo;?
                  </p>
                </div>
                <ul class="children">
                  <li class="comment even depth-3 parent" id="comment-702">
                    <div id="div-comment-702" class="comment-body">
                      <div class="comment-author vcard">
                        <img alt="" src=
                        "https://secure.gravatar.com/avatar/65c86437c822d9870961783751d685ec?s=64&amp;d=monsterid&amp;r=g"
                        srcset=
                        "https://secure.gravatar.com/avatar/65c86437c822d9870961783751d685ec?s=128&amp;d=monsterid&amp;r=g 2x"
                        class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">pyromaniac_14</cite>
                        <span class="says">says:</span>
                      </div>
                      <div class="comment-meta commentmetadata">
                        <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-702">May 21, 2014 at 12:42 am</a>
                      </div>
                      <p>
                        if you go to task manager on chrome and you select something then click on end process it will
                        make it crash when i do it for the hapara remote control teacher dashboard it will come back
                        after a few seconds so i want a script that will keep selecting it then ending it
                      </p>
                    </div>
                    <ul class="children">
                      <li class="comment byuser comment-author-admin bypostauthor odd alt depth-4" id="comment-704">
                        <div id="div-comment-704" class="comment-body">
                          <div class="comment-author vcard">
                            <img alt="" src=
                            "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                            srcset=
                            "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                            class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                            <span class="says">says:</span>
                          </div>
                          <div class="comment-meta commentmetadata">
                            <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-704">May 21, 2014 at 9:08
                            am</a>
                          </div>
                          <p>
                            I don&rsquo;t own a Chromebook, so I have no idea if this is possible. Sorry.
                          </p>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="comment even thread-even depth-1 parent" id="comment-712">
            <div id="div-comment-712" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/e08270373488769fa1fa39d1cd3ee3db?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/e08270373488769fa1fa39d1cd3ee3db?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">J Siggy</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-712">May 24, 2014 at 3:32 am</a>
              </div>
              <p>
                How do you write a script for buying something online or just adding to cart for purchase?
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-713">
                <div id="div-comment-713" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-713">May 24, 2014 at 9:54 pm</a>
                  </div>
                  <p>
                    You can use Tampermonkey to simulate a click on an &ldquo;Add to Cart&rdquo; button, or you can use
                    it to enter values in a form, then programatically submit it.
                  </p>
                  <p>
                    The implementation details would depend on what the form in question looked like.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1 parent" id="comment-1037">
            <div id="div-comment-1037" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/53bfb6d206e0f3b3c8beb143172f377c?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/53bfb6d206e0f3b3c8beb143172f377c?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Franc Gonz</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-1037">February 9, 2015 at 7:13 pm</a>
              </div>
              <p>
                Hi there,
              </p>
              <p>
                Thanks for your tutorial.
              </p>
              <p>
                I am trying to get this script work on this site form fill and can&rsquo;t get it work.
              </p>
              <p>
                <a href=
                "https://www.saga.co.uk/insurance/car-insurance/get-quote/Vehicle">https://www.saga.co.uk/insurance/car-insurance/get-quote/Vehicle</a>
              </p>
              <p>
                Could you help me figure out what I am doing wrong please.
              </p>
              <p>
                Kind Regards.
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-1041">
                <div id="div-comment-1041" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">admin</cite> <span class=
                    "says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-1041">February 10, 2015 at 1:24 pm</a>
                  </div>
                  <p>
                    Sure I can try and help you, but the comments section of a blog is a bad place to do so.
                  </p>
                  <p>
                    Instead, head to <a href="http://community.sitepoint.com">http://community.sitepoint.com</a>, then
                    register an account (or log in with FaceBook, Google or Twitter) and post your question in the
                    JavaScript forum.
                  </p>
                  <p>
                    Once you have done that let me know and I&rsquo;ll answer you there.
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-even depth-1 parent" id="comment-1062">
            <div id="div-comment-1062" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/b3704b893e169c37131d69e77297a1c6?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/b3704b893e169c37131d69e77297a1c6?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Michael</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-1062">February 23, 2015 at 8:03 pm</a>
              </div>
              <p>
                I&rsquo;d be interested to know how to find elements with a fixed pixel width and change them to a
                percentage one. For example, if an element is defined to be over 800px wide, change it to 100%.
              </p>
              <p>
                Any ideas where to start?
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-1064">
                <div id="div-comment-1064" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">admin</cite> <span class=
                    "says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-1064">February 23, 2015 at 8:54 pm</a>
                  </div>
                  <p>
                    Sure. Something like this should get you going:
                  </p>
                  <pre>
$("*").each(function(){
  console.log(this + ": " + $(this).width() + "px");
});
</pre>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1 parent" id="comment-1145">
            <div id="div-comment-1145" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/48899532108578c2a4b344b6de86aa8c?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/48899532108578c2a4b344b6de86aa8c?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Jack</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-1145">May 6, 2015 at 2:26 am</a>
              </div>
              <p>
                Would this work for auto filling craigslist posts?
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-1149">
                <div id="div-comment-1149" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">admin</cite> <span class=
                    "says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href="https://hibbard.eu/tampermonkey-tutorial-2/#comment-1149">May 6, 2015 at 8:13 pm</a>
                  </div>
                  <p>
                    Yup, should do.
                  </p>
                </div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
