  <div id="comments">
    <div id="content-comments">
      <h3>This post currently has 8 responses</h3>

      <ol class="commentlist">
        <li class="comment even thread-even depth-1" id="comment-155">
          <div id="div-comment-155" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/2275eb229c148cf8f3563871902b03bd?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/2275eb229c148cf8f3563871902b03bd?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">Zabbix</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href="https://hibbard.eu/tampermonkey-tutorial/#comment-155">March 21,
              2013 at 11:13 am</a>
            </div>

            <p>Pretty cool buddy! Thank you!</p>
          </div>
        </li>

        <li class="comment odd alt thread-odd thread-alt depth-1 parent" id=
        "comment-394">
          <div id="div-comment-394" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/262d1cf4a734dec35d5f3c9dfb0082b6?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/262d1cf4a734dec35d5f3c9dfb0082b6?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">nhduc</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href="https://hibbard.eu/tampermonkey-tutorial/#comment-394">September
              22, 2013 at 7:02 am</a>
            </div>

            <p>But i dont know how to run the script after create it &hellip;</p>
          </div>

          <ul class="children">
            <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
            "comment-396">
              <div id="div-comment-396" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">hibbard.eu</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href=
                  "https://hibbard.eu/tampermonkey-tutorial/#comment-396">September 22,
                  2013 at 5:09 pm</a>
                </div>

                <p>If you have specified the url correctly in the @match directive, then
                it should run automatically.</p>
              </div>
            </li>
          </ul>
        </li>

        <li class="comment odd alt thread-even depth-1 parent" id="comment-678">
          <div id="div-comment-678" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/e7f425e0527d42b24d2b72feec62ca42?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/e7f425e0527d42b24d2b72feec62ca42?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">aj</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href="https://hibbard.eu/tampermonkey-tutorial/#comment-678">May 1, 2014
              at 3:44 pm</a>
            </div>

            <p>OS windows 7<br />
            Browser Chrome<br />
            script manager tamper monkey<br />
            target website symbianize.com<br />
            hi,</p>

            <p>i just want to ask some help regarding tamper monkey. i just learned that
            it can change some elements of a website.</p>

            <p>so what i want to happen is a quick help to change the color of hyperlinks
            on a website from orange to blue or any color. if you could teach me that
            simple step i could do the rest..</p>

            <p>i have basic knowledge with html and css, and i want to apply this to
            userscript to change the behavior of the website.</p>

            <p>i would really appreciate your help.</p>

            <p>thanks,<br />
            aj</p>
          </div>

          <ul class="children">
            <li class="comment byuser comment-author-admin bypostauthor even depth-2" id=
            "comment-680">
              <div id="div-comment-680" class="comment-body">
                <div class="comment-author vcard">
                  <img alt="" src=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                  srcset=
                  "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                  class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
                  "fn">hibbard.eu</cite> <span class="says">says:</span>
                </div>

                <div class="comment-meta commentmetadata">
                  <a href="https://hibbard.eu/tampermonkey-tutorial/#comment-680">May 1,
                  2014 at 3:51 pm</a>
                </div>

                <p>Hi,</p>

                <p>Thanks for your comments.</p>

                <p>You can do what you ask like this:</p>
                <pre>
// ==UserScript==
// @name       Change link colour
// @match      http://whatever
// @require http://code.jquery.com/jquery-latest.js
// ==/UserScript==

$(document).ready(function() {
  $("a").css("color", "blue");
});
</pre>
              </div>
            </li>
          </ul>
        </li>

        <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-679">
          <div id="div-comment-679" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/e7f425e0527d42b24d2b72feec62ca42?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/e7f425e0527d42b24d2b72feec62ca42?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">aj</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href="https://hibbard.eu/tampermonkey-tutorial/#comment-679">May 1, 2014
              at 3:47 pm</a>
            </div>

            <p>links in the post / thread it self if possible.. i am still looking for
            the css for the specific a:link to target..</p>
          </div>
        </li>

        <li class="comment even thread-even depth-1" id="comment-1130">
          <div id="div-comment-1130" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/0ed87857ef4821b9ca6dc9c62d035834?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/0ed87857ef4821b9ca6dc9c62d035834?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">v_v</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href="https://hibbard.eu/tampermonkey-tutorial/#comment-1130">April 18,
              2015 at 11:47 pm</a>
            </div>

            <p>thanks for help !</p>
          </div>
        </li>

        <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-1131">
          <div id="div-comment-1131" class="comment-body">
            <div class="comment-author vcard">
              <img alt="" src=
              "https://secure.gravatar.com/avatar/6d46bc1cdacdd665f1f3781e28dfd631?s=64&amp;d=monsterid&amp;r=g"
              srcset=
              "https://secure.gravatar.com/avatar/6d46bc1cdacdd665f1f3781e28dfd631?s=128&amp;d=monsterid&amp;r=g 2x"
              class="avatar avatar-64 photo" height="64" width="64" /> <cite class=
              "fn">fly ash</cite> <span class="says">says:</span>
            </div>

            <div class="comment-meta commentmetadata">
              <a href="https://hibbard.eu/tampermonkey-tutorial/#comment-1131">April 20,
              2015 at 3:14 am</a>
            </div>

            <p>Just want to warn you that using the &lsquo;latest&rsquo; jQuery instead
            of specifying a specific version is highly discouraged. You can read more
            about it here:<br />
            <a href=
            "http://blog.jquery.com/2014/07/03/dont-use-jquery-latest-js/">http://blog.jquery.com/2014/07/03/dont-use-jquery-latest-js/</a></p>
          </div>
        </li>
      </ol>
    </div>

    <h3>Comments are closed!</h3>
  </div>
