    <div id="comments">
      <div id="content-comments">
        <h3>
          This post currently has 7 responses
        </h3>
        <ol class="commentlist">
          <li class="comment even thread-even depth-1 parent" id="comment-553">
            <div id="div-comment-553" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/6ff1f42efb83f6cda7fff39df9b5c7c4?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/6ff1f42efb83f6cda7fff39df9b5c7c4?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn"><a href=
                "http://dbarrerap.wordpress.com" rel="external nofollow" class="url">David</a></cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/trouble-installing-mysql2-gem-on-windows-8-with-ruby-2/#comment-553">January 29,
                2014 at 6:00 am</a>
              </div>
              <p>
                Just what happened to me tonight&hellip; Thanks for the solution. Guess latest tech has its
                drawbacks&hellip;
              </p>
            </div>
            <ul class="children">
              <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-556">
                <div id="div-comment-556" class="comment-body">
                  <div class="comment-author vcard">
                    <img alt="" src=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=64&amp;d=monsterid&amp;r=g"
                    srcset=
                    "https://secure.gravatar.com/avatar/e00b4db03ebd33a0153b629abbd1ad30?s=128&amp;d=monsterid&amp;r=g 2x"
                    class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">hibbard.eu</cite>
                    <span class="says">says:</span>
                  </div>
                  <div class="comment-meta commentmetadata">
                    <a href=
                    "https://hibbard.eu/trouble-installing-mysql2-gem-on-windows-8-with-ruby-2/#comment-556">January
                    30, 2014 at 11:16 am</a>
                  </div>
                  <p>
                    Yeah, this had me banging my head against the desk for a good while. Glad you got it figured out!
                  </p>
                </div>
              </li>
            </ul>
          </li>
          <li class="comment even thread-odd thread-alt depth-1" id="comment-666">
            <div id="div-comment-666" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/0d299e6d6aa9dec052f2af292da39a81?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/0d299e6d6aa9dec052f2af292da39a81?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">John</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/trouble-installing-mysql2-gem-on-windows-8-with-ruby-2/#comment-666">April
                20, 2014 at 3:13 pm</a>
              </div>
              <p>
                Thanks a million &hellip; to say I was trying to mysql2 installed for 6 hours is not an exaggeration
                &hellip;. but with your explanation all up and running, thankfully !!
              </p>
            </div>
          </li>
          <li class="comment odd alt thread-even depth-1" id="comment-772">
            <div id="div-comment-772" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/460ec21f03eda02dac9adf27ed47cc12?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/460ec21f03eda02dac9adf27ed47cc12?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">amemrohd</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/trouble-installing-mysql2-gem-on-windows-8-with-ruby-2/#comment-772">June
                27, 2014 at 10:23 pm</a>
              </div>
              <p>
                Thanks a lot.Been working on it for 4 hrs
              </p>
            </div>
          </li>
          <li class="comment even thread-odd thread-alt depth-1" id="comment-897">
            <div id="div-comment-897" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/ae38b42d9cd71ab1523d19432896b44c?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/ae38b42d9cd71ab1523d19432896b44c?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Roberto J&uacute;nior</cite>
                <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href="https://hibbard.eu/trouble-installing-mysql2-gem-on-windows-8-with-ruby-2/#comment-897">August
                29, 2014 at 1:51 pm</a>
              </div>
              <p>
                Thanks a lot man, this really helps!!!
              </p>
            </div>
          </li>
          <li class="comment odd alt thread-even depth-1" id="comment-911">
            <div id="div-comment-911" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/206ebc579d6186f50695c6b695a64691?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/206ebc579d6186f50695c6b695a64691?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">Bhargav Mehta</cite>
                <span class="says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/trouble-installing-mysql2-gem-on-windows-8-with-ruby-2/#comment-911">September 22,
                2014 at 12:17 pm</a>
              </div>
              <p>
                Thanks alot man, this was awesome !!!!
              </p>
            </div>
          </li>
          <li class="comment even thread-odd thread-alt depth-1" id="comment-942">
            <div id="div-comment-942" class="comment-body">
              <div class="comment-author vcard">
                <img alt="" src=
                "https://secure.gravatar.com/avatar/b10964198c59f73af791d336260648c8?s=64&amp;d=monsterid&amp;r=g"
                srcset=
                "https://secure.gravatar.com/avatar/b10964198c59f73af791d336260648c8?s=128&amp;d=monsterid&amp;r=g 2x"
                class="avatar avatar-64 photo" height="64" width="64"> <cite class="fn">mbonell</cite> <span class=
                "says">says:</span>
              </div>
              <div class="comment-meta commentmetadata">
                <a href=
                "https://hibbard.eu/trouble-installing-mysql2-gem-on-windows-8-with-ruby-2/#comment-942">October 22,
                2014 at 4:55 pm</a>
              </div>
              <p>
                Thanks <img draggable="false" class="emoji" alt="&#128512;" src=
                "https://s.w.org/images/core/emoji/2.4/svg/1f600.svg">
              </p>
            </div>
          </li>
        </ol>
      </div>
      <h3>Comments are closed!</h3>
    </div>
